/** @format */
@import "../../styles/app.scss";

.services {
	background: linnear-gradient(#0c0c1d, #111132);
	max-width: 1200px;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	padding: 20px;

	@include miniLaptop {
		max-width: 900px;
		height: 100%;
		margin: auto;
	}
	@include tablet {
		max-width: 780px;
		height: 100%;
		margin: auto;
	}

	.textContainer {
		flex: 1;

		align-self: flex-end;
		display: flex;
		// flex-direction: column
		align-items: center;
		gap: 20px;

		@include tablet {
			gap: 10px;
		}

		@include mobile {
			display: flex;
			flex-direction: column;
			align-self: center;
			margin-bottom: 20px;
			gap: 5px;
		}

		p {
			font-weight: 200px;
			font-size: 20px;
			color: gray;
			text-align: right;

			@include tablet {
				font-size: 16px;
				margin-top: 20px;
			}
		}

		hr {
			width: 300px;
			border: none;
			border-top: 0.5px solid rgb(145, 143, 143);

			@include tablet {
				width: 150px;
			}
		}
	}
	.titleContainer {
		flex: 2;
		display: flex;
		flex-direction: column;
		align-items: center;

		.title {
			display: flex;
			gap: 20px;

			img {
				width: 300px;
				height: 100px;
				border-radius: 50px;
				object-fit: cover;

				@include tablet {
					width: 180px;
					height: 70px;
				}
			}

			h2 {
				font-size: 96px;
				font-weight: 100;
				color: white;

				@include miniLaptop {
					font-size: 72px;
				}
				@include tablet {
					font-size: 68px;
				}
			}

			button {
				width: 100px;
				background-color: orange;
				border-radius: 10px;
				padding: 5px;
			}
		}

		@include mobile {
			flex-direction: column;

			.title {
				flex-direction: column;
				align-items: center;

				img {
					width: 200px;
					height: 50px;
				}

				h2 {
					font-size: 36px;
				}

				button {
					font-size: 14px;
					width: 150px;
					height: 50px;
					background-color: orange;
					border: none;
					border-radius: 50px;
				}
			}
		}
	}
	.listContainer {
		flex: 2;
		display: flex;

		@include mobile {
			flex-wrap: wrap;
			align-items: center;
			width: 100%;
			justify-content: center;
		}

		.box {
			padding: 15px;
			border: 0.5px solid gray;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-right: 10px;
			flex-wrap: wrap;
			line-height: 1.5rem;

			h2 {
				margin-bottom: 10px;
			}
			p {
				margin-bottom: 10px;
			}

			@include tablet {
				h2 {
					font-size: 18px;
				}

				p {
					font-size: 14px;
				}
			}

			p {
				font-weight: 300;
			}

			@include mobile {
				width: 100%;
				border: none;
				gap: 20px;
				padding: 30px;
				align-items: center;
				width: 200px;

				h2 {
					font-size: 20px;
				}

				p {
					display: none;
				}
			}

			button {
				padding: 10px;
				border: none;
				background-color: orange;
				cursor: pointer;

				@include mobile {
					background-color: transparent;
					border-radius: 5px;
					border: 1px solid orange;
					color: orange;
					padding: 5px;
					width: 100%;
					margin-top: 0;
				}
			}
		}
		.box::hover {
			background: "lightgray";
			color: "#000";
		}

		// @include mobile {
		// 	.box:hover {
		// 		background: "transparent";
		// 	}
		// }
	}

	// @include mobile {
	// 	.listContainer {
	// 		button:hover {
	// 			background-color: orange;
	// 			color: white;
	// 		}
	// 	}
	// }
}
