/** @format */
@import "../../app.scss";

.hero {
	height: calc(100dvh - 100px);
	background: linear-gradient(180deg, #0c0c1d, #111132);
	overflow: hidden;
	position: relative;

	.wrapper {
		max-width: 1200px;
		height: 100%;
		margin: auto;

		.textContainer {
			width: 80%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 40px;

			h2 {
				font-size: 40px;
				color: rebeccapurple;
				letter-spacing: 10px;
			}
			h1 {
				font-size: 88px;
			}

			div {
				display: flex;
				gap: 10px;
				button {
					border: 1px solid white;
					padding: 15px 20px;
					border-radius: 10px;
					font-weight: 300;
					background: transparent;
					color: white;
					cursor: pointer;
				}
				button:hover {
					background: white;
					color: #0c0c1d;
				}
			}

			@include mobile {
				width: 100%;
				height: 50%;
				align-items: center;
				gap: 20px;

				h1 {
					font-size: 36px;
				}
			}
		}
	}

	.slidingContainer {
		position: absolute;
		font-size: 50vh;
		bottom: -100px;
		white-space: nowrap;
		color: #ffffff09;
		width: 200%;
		font-weight: bold;

		@include mobile {
			font-size: 35vh;
			bottom: 0;
			width: 385%;
		}
	}

	.imageContainer {
		height: 100%;
		// width: 40%;
		position: absolute;
		top: 0;
		right: 0;

		img {
			height: 100%;
			object-fit: cover;
		}

		@include mobile {
			width: 100%;
			height: 50%;
			top: unset;
			bottom: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}
