/** @format */

.portfolio {
	position: relative;
	font-size: 33px;
	// text-align: center;
	max-width: 1200px;
	margin: auto;

	h1 {
		color: orange;
		text-align: center;
	}

	.progress {
		position: sticky;
		top: 0;
		left: 0;
		padding-top: 50px;

		.progressBar {
			background: lightgrey;
			padding: 1px;
		}
	}

	.container {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		gap: 50px;
		overflow: hidden;

		.imageContainer {
			flex: 1;
			height: 50%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 5px;
			}
		}

		.textContainer {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: start;
			gap: 30px;

			h2 {
				font-size: 72px;
			}

			p {
				font-size: 20px;
				color: lightgray;
			}
			button {
				background-color: orange;
				padding: 10px;
				max-width: 200px;
				border-radius: 10px;
				font-weight: bold;
				font-size: large;
				border: none;
				cursor: pointer;
			}
		}
	}
}
