/** @format */
@import "../../styles/app.scss";
.navbar {
	height: 100px;
	padding: 20px;

	@include miniLaptop {
		padding-left: 90px;
		padding-right: 20px;
	}

	.wrapper {
		height: 100%;
		max-width: 1200px;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include tablet {
			justify-content: end;
			padding-right: 20px;
		}

		@include mobile {
			justify-content: right;
			padding: 20px;
		}
	}

	span {
		font-weight: bold;
		z-index: 999;

		@include tablet {
			display: none;
		}
		@include mobile {
			display: none;
		}
	}

	.social {
		display: flex;
		gap: 20px;
		z-index: 999;

		img {
			width: 18px;
			height: 18px;
		}
	}
}

.social-link {
	position: relative;
	display: inline-block;
}

.tooltip {
	visibility: hidden;
	width: 120px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	font-size: smaller;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 115%; /* Position the tooltip below the icon */
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

// .social-link:hover .tooltip {
// 	visibility: visible;
// 	opacity: 0.1;
// }
